<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.hieplee.mvvm-combine</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
		<string>com.apple.dt.unit.sceneLifecycleApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>NameOfInitialFileForEditor</key>
	<string>ContentView.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>Info.plist:UIApplicationSceneManifest:UISceneStoryboardFile</string>
						<string>Base.lproj/Main.storyboard</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main.storyboard</string>
							<key>SortOrder</key>
							<integer>98</integer>
						</dict>
					</dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>INFOPLIST_KEY_UIMainStoryboardFile</key>
								<string>Main</string>
							</dict>
						</dict>
					</array>
				</dict>
				<key>Swift</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>userInterface</key>
							<string>Storyboard</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>Delegates/DelegateManager.swift</string>
							<string>Managers/BLEManager/BLEManager.swift</string>
							<string>Managers/CommonManager/CommonManager.swift</string>
							<string>Managers/ContactManager/ContactManager.swift</string>
							<string>Managers/LocationManager/LocationManager.swift</string>
							<string>Managers/NetworkManager/Bases/BaseRequest.swift</string>
							<string>Managers/NetworkManager/Bases/BaseService.swift</string>
							<string>Managers/NetworkManager/Bases/Endpoint.swift</string>
							<string>Managers/NetworkManager/Bases/NetworkError.swift</string>
							<string>Managers/NetworkManager/Authentication/AuthenticationRequest.swift</string>
							<string>Managers/NetworkManager/Authentication/AuthenticationService.swift</string>
							<string>Managers/UserDefaultManager/UserDefaultManager.swift</string>
							<string>Configs/Configs.swift</string>
							<string>Extensions/Combine/UITextfield+Combine.swift</string>
							<string>Extensions/PropertyType/Date+Extension.swift</string>
							<string>Extensions/PropertyType/String+Extension.swift</string>
							<string>Extensions/PropertyType/UserDefaults+Extension.swift</string>
							<string>Extensions/UIKit/UIApplication+Extension.swift</string>
							<string>Extensions/UIKit/UICollectionView+Extension.swift</string>
							<string>Extensions/UIKit/UITableView+Extension.swift</string>
							<string>Extensions/UIKit/UIViewController+Extension.swift</string>
							<string>Extensions/UIKit/UIView+Extension.swift</string>
							<string>Utilities/Constants.swift</string>
							<string>Utilities/Keys.swift</string>
							<string>Utilities/Logger.swift</string>
							<string>Utilities/Regex.swift</string>
							<string>Utilities/StringConstants.swift</string>
							<string>Models/Authentication/Authentication.swift</string>
							<string>Views/Cells/Bases/BaseTableViewCell.swift</string>
							<string>Views/Cells/Bases/BaseCollectionViewCell.swift</string>
							<string>Views/CustomViews/Loading/LoadingView.swift</string>
							<string>Views/CustomViews/Loading/LoadingView.xib</string>
							<string>Features/Bases/BaseViewController.swift</string>
							<string>Features/Bases/BaseViewModel.swift</string>
							<string>Features/Bases/CombineTableViewDataSource.swift</string>
							<string>Features/Login/LoginViewController.swift</string>
							<string>Features/Login/LoginViewController.xib</string>
							<string>Features/Login/LoginViewModel.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>SceneDelegate.swift:implementation:properties</key>
							<string>public static var shared: SceneDelegate? {
    return (UIApplication.shared.connectedScenes.first?.delegate as? SceneDelegate)
}

</string>
							<key>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:body</key>
							<string>guard let windowScene = (scene as? UIWindowScene) else { return }
self.window = UIWindow(windowScene: windowScene)
DelegateManager.shared.configure()</string>
							<key>Delegates/DelegateManager.swift</key>
							<dict>
								<key>Group</key>
								<string>Delegates</string>
								<key>Path</key>
								<string>Delegates/DelegateManager.swift</string>
							</dict>
							<key>Managers/BLEManager/BLEManager.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>BLEManager</string>
								</array>
								<key>Path</key>
								<string>Managers/BLEManager/BLEManager.swift</string>
							</dict>
							<key>Managers/CommonManager/CommonManager.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>CommonManager</string>
								</array>
								<key>Path</key>
								<string>Managers/CommonManager/CommonManager.swift</string>
							</dict>
							<key>Managers/ContactManager/ContactManager.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>ContactManager</string>
								</array>
								<key>Path</key>
								<string>Managers/ContactManager/ContactManager.swift</string>
							</dict>
							<key>Managers/LocationManager/LocationManager.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>LocationManager</string>
								</array>
								<key>Path</key>
								<string>Managers/LocationManager/LocationManager.swift</string>
							</dict>
							<key>Managers/NetworkManager/Bases/BaseRequest.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>NetworkManager</string>
									<string>Bases</string>
								</array>
								<key>Path</key>
								<string>Managers/NetworkManager/Bases/BaseRequest.swift</string>
							</dict>
							<key>Managers/NetworkManager/Bases/BaseService.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>NetworkManager</string>
									<string>Bases</string>
								</array>
								<key>Path</key>
								<string>Managers/NetworkManager/Bases/BaseService.swift</string>
							</dict>
							<key>Managers/NetworkManager/Bases/Endpoint.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>NetworkManager</string>
									<string>Bases</string>
								</array>
								<key>Path</key>
								<string>Managers/NetworkManager/Bases/Endpoint.swift</string>
							</dict>
							<key>Managers/NetworkManager/Bases/NetworkError.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>NetworkManager</string>
									<string>Bases</string>
								</array>
								<key>Path</key>
								<string>Managers/NetworkManager/Bases/NetworkError.swift</string>
							</dict>
							<key>Managers/NetworkManager/Authentication/AuthenticationRequest.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>NetworkManager</string>
									<string>Authentication</string>
								</array>
								<key>Path</key>
								<string>Managers/NetworkManager/Authentication/AuthenticationRequest.swift</string>
							</dict>
							<key>Managers/NetworkManager/Authentication/AuthenticationService.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>NetworkManager</string>
									<string>Authentication</string>
								</array>
								<key>Path</key>
								<string>Managers/NetworkManager/Authentication/AuthenticationService.swift</string>
							</dict>
							<key>Managers/UserDefaultManager/UserDefaultManager.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>UserDefaultManager</string>
								</array>
								<key>Path</key>
								<string>Managers/UserDefaultManager/UserDefaultManager.swift</string>
							</dict>
							<key>Configs/Configs.swift</key>
							<dict>
								<key>Group</key>
								<string>Configs</string>
								<key>Path</key>
								<string>Configs/Configs.swift</string>
							</dict>
							<key>Extensions/Combine/UITextfield+Combine.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Extensions</string>
									<string>Combine</string>
								</array>
								<key>Path</key>
								<string>Extensions/Combine/UITextfield+Combine.swift</string>
							</dict>
							<key>Extensions/PropertyType/Date+Extension.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Extensions</string>
									<string>PropertyType</string>
								</array>
								<key>Path</key>
								<string>Extensions/PropertyType/Date+Extension.swift</string>
							</dict>
							<key>Extensions/PropertyType/String+Extension.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Extensions</string>
									<string>PropertyType</string>
								</array>
								<key>Path</key>
								<string>Extensions/PropertyType/String+Extension.swift</string>
							</dict>
							<key>Extensions/PropertyType/UserDefaults+Extension.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Extensions</string>
									<string>PropertyType</string>
								</array>
								<key>Path</key>
								<string>Extensions/PropertyType/UserDefaults+Extension.swift</string>
							</dict>
							<key>Extensions/UIKit/UIApplication+Extension.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Extensions</string>
									<string>UIKit</string>
								</array>
								<key>Path</key>
								<string>Extensions/UIKit/UIApplication+Extension.swift</string>
							</dict>
							<key>Extensions/UIKit/UICollectionView+Extension.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Extensions</string>
									<string>UIKit</string>
								</array>
								<key>Path</key>
								<string>Extensions/UIKit/UICollectionView+Extension.swift</string>
							</dict>
							<key>Extensions/UIKit/UITableView+Extension.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Extensions</string>
									<string>UIKit</string>
								</array>
								<key>Path</key>
								<string>Extensions/UIKit/UITableView+Extension.swift</string>
							</dict>
							<key>Extensions/UIKit/UIViewController+Extension.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Extensions</string>
									<string>UIKit</string>
								</array>
								<key>Path</key>
								<string>Extensions/UIKit/UIViewController+Extension.swift</string>
							</dict>
							<key>Extensions/UIKit/UIView+Extension.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Extensions</string>
									<string>UIKit</string>
								</array>
								<key>Path</key>
								<string>Extensions/UIKit/UIView+Extension.swift</string>
							</dict>
							<key>Utilities/Constants.swift</key>
							<dict>
								<key>Group</key>
								<string>Utilities</string>
								<key>Path</key>
								<string>Utilities/Constants.swift</string>
							</dict>
							<key>Utilities/Keys.swift</key>
							<dict>
								<key>Group</key>
								<string>Utilities</string>
								<key>Path</key>
								<string>Utilities/Keys.swift</string>
							</dict>
							<key>Utilities/Logger.swift</key>
							<dict>
								<key>Group</key>
								<string>Utilities</string>
								<key>Path</key>
								<string>Utilities/Logger.swift</string>
							</dict>
							<key>Utilities/Regex.swift</key>
							<dict>
								<key>Group</key>
								<string>Utilities</string>
								<key>Path</key>
								<string>Utilities/Regex.swift</string>
							</dict>
							<key>Utilities/StringConstants.swift</key>
							<dict>
								<key>Group</key>
								<string>Utilities</string>
								<key>Path</key>
								<string>Utilities/StringConstants.swift</string>
							</dict>
							<key>Models/Authentication/Authentication.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Models</string>
									<string>Authentication</string>
								</array>
								<key>Path</key>
								<string>Models/Authentication/Authentication.swift</string>
							</dict>
							<key>Views/Cells/Bases/BaseTableViewCell.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Views</string>
									<string>Cells</string>
									<string>Bases</string>
								</array>
								<key>Path</key>
								<string>Views/Cells/Bases/BaseTableViewCell.swift</string>
							</dict>
							<key>Views/Cells/Bases/BaseCollectionViewCell.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Views</string>
									<string>Cells</string>
									<string>Bases</string>
								</array>
								<key>Path</key>
								<string>Views/Cells/Bases/BaseCollectionViewCell.swift</string>
							</dict>
							<key>Views/CustomViews/Loading/LoadingView.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Views</string>
									<string>CustomViews</string>
									<string>Loading</string>
								</array>
								<key>Path</key>
								<string>Views/CustomViews/Loading/LoadingView.swift</string>
							</dict>
							<key>Views/CustomViews/Loading/LoadingView.xib</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Views</string>
									<string>CustomViews</string>
									<string>Loading</string>
								</array>
								<key>Path</key>
								<string>Views/CustomViews/Loading/LoadingView.xib</string>
							</dict>
							<key>Features/Bases/BaseViewController.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Features</string>
									<string>Bases</string>
								</array>
								<key>Path</key>
								<string>Features/Bases/BaseViewController.swift</string>
							</dict>
							<key>Features/Bases/BaseViewModel.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Features</string>
									<string>Bases</string>
								</array>
								<key>Path</key>
								<string>Features/Bases/BaseViewModel.swift</string>
							</dict>
							<key>Features/Bases/CombineTableViewDataSource.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Features</string>
									<string>Bases</string>
								</array>
								<key>Path</key>
								<string>Features/Bases/CombineTableViewDataSource.swift</string>
							</dict>
							<key>Features/Login/LoginViewController.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Features</string>
									<string>Login</string>
								</array>
								<key>Path</key>
								<string>Features/Login/LoginViewController.swift</string>
							</dict>
							<key>Features/Login/LoginViewController.xib</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Features</string>
									<string>Login</string>
								</array>
								<key>Path</key>
								<string>Features/Login/LoginViewController.xib</string>
							</dict>
							<key>Features/Login/LoginViewModel.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Features</string>
									<string>Login</string>
								</array>
								<key>Path</key>
								<string>Features/Login/LoginViewModel.swift</string>
							</dict>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>INFOPLIST_KEY_UIMainStoryboardFile</key>
									<string></string>
								</dict>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>userInterface</key>
							<string>SwiftUI</string>
							<key>appLifecycle</key>
							<string>Cocoa</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>Preview Content/Preview Assets.xcassets</string>
							<string>SceneDelegate.swift:imports:importSwiftUI</string>
							<string>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:body</string>
							<string>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:body:windowScene</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:body</key>
							<string>
// Create the SwiftUI view that provides the window contents.
let contentView = ContentView()
</string>
							<key>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:body:windowScene</key>
							<string>
// Use a UIHostingController as window root view controller.
if let windowScene = scene as? UIWindowScene {
    let window = UIWindow(windowScene: windowScene)
    window.rootViewController = UIHostingController(rootView: contentView)
    self.window = window
    window.makeKeyAndVisible()
}</string>
							<key>*:imports:importSwiftUI</key>
							<string>import SwiftUI</string>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>ENABLE_PREVIEWS</key>
									<string>YES</string>
									<key>DEVELOPMENT_ASSET_PATHS</key>
									<string>___PACKAGENAMEPREVIEWCONTENT:quoteIfNeeded___</string>
								</dict>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>userInterface</key>
							<string>SwiftUI</string>
							<key>coreData</key>
							<string>true</string>
							<key>appLifecycle</key>
							<string>Cocoa</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:body</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>SceneDelegate.swift:implementation:methods:sceneWillConnectToSession:body</key>
							<string>
// Get the managed object context from the shared persistent container.
let context = (UIApplication.shared.delegate as! AppDelegate).persistentContainer.viewContext

// Create the SwiftUI view and set the context as the value for the managedObjectContext environment keyPath.
// Add `@Environment(\.managedObjectContext)` in the views that will need the context.
let contentView = ContentView().environment(\.managedObjectContext, context)
</string>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>userInterface</string>
			<key>Name</key>
			<string>Interface:</string>
			<key>Description</key>
			<string>The type of user interface.</string>
			<key>Units</key>
			<dict>
				<key>SwiftUI</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>Router/Route.swift</string>
							<string>Router/RouterManager.swift</string>
							<string>Router/RouterView.swift</string>
							<string>Managers/BLEManager/BLEManager.swift</string>
							<string>Managers/CommonManager/CommonManager.swift</string>
							<string>Managers/ContactManager/ContactManager.swift</string>
							<string>Managers/LocationManager/LocationManager.swift</string>
							<string>Managers/NetworkManager/Bases/BaseRequest.swift</string>
							<string>Managers/NetworkManager/Bases/BaseService.swift</string>
							<string>Managers/NetworkManager/Bases/Endpoint.swift</string>
							<string>Managers/NetworkManager/Bases/NetworkError.swift</string>
							<string>Managers/NetworkManager/News/NewsRequest.swift</string>
							<string>Managers/NetworkManager/News/NewsService.swift</string>
							<string>Managers/PhotoManager/ImagePickerManager.swift</string>
							<string>Managers/UserDefaultManager/UserDefaultManager.swift</string>
							<string>Configs/Configs.swift</string>
							<string>Extensions/PropertyType/Date+Extension.swift</string>
							<string>Extensions/PropertyType/String+Extension.swift</string>
							<string>Extensions/PropertyType/UserDefaults+Extension.swift</string>
							<string>Extensions/SwiftUI/Color+Extension.swift</string>
							<string>Extensions/SwiftUI/View+Extension.swift</string>
							<string>Utilities/Constants.swift</string>
							<string>Utilities/Keys.swift</string>
							<string>Utilities/Logger.swift</string>
							<string>Utilities/Regex.swift</string>
							<string>Utilities/StringConstants.swift</string>
							<string>Models/News/News.swift</string>
							<string>Models/News/Arcticle.swift</string>
							<string>Models/News/Topic.swift</string>
							<string>CustomStyles/Button/CustomButtonStyle.swift</string>
							<string>CustomStyles/TextField/CustomTextFieldStyle.swift</string>
							<string>CommonViews/Alert/AlertView.swift</string>
							<string>CommonViews/CacheAsyncImage/CacheAsyncImage.swift</string>
							<string>CommonViews/Loading/LoadingView.swift</string>
							<string>Features/Bases/BaseViewModel.swift</string>
							<string>Features/LaunchScreen/LaunchScreenView.swift</string>
							<string>Features/Login/LoginView.swift</string>
							<string>Features/Login/LoginViewModel.swift</string>
							<string>Features/Home/HomeView.swift</string>
							<string>Features/Home/HomeViewModel.swift</string>
							<string>Features/Detail/DetailView.swift</string>
							<string>Features/Detail/DetailViewModel.swift</string>
							<string>Features/Detail/DetailItem.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Router/Route.swift</key>
							<dict>
								<key>Group</key>
								<string>Router</string>
								<key>Path</key>
								<string>Router/Route.swift</string>
							</dict>
							<key>Router/RouterManager.swift</key>
							<dict>
								<key>Group</key>
								<string>Router</string>
								<key>Path</key>
								<string>Router/RouterManager.swift</string>
							</dict>
							<key>Router/RouterView.swift</key>
							<dict>
								<key>Group</key>
								<string>Router</string>
								<key>Path</key>
								<string>Router/RouterView.swift</string>
							</dict>
							<key>Managers/BLEManager/BLEManager.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>BLEManager</string>
								</array>
								<key>Path</key>
								<string>Managers/BLEManager/BLEManager.swift</string>
							</dict>
							<key>Managers/CommonManager/CommonManager.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>CommonManager</string>
								</array>
								<key>Path</key>
								<string>Managers/CommonManagerSwiftUI/CommonManager.swift</string>
							</dict>
							<key>Managers/ContactManager/ContactManager.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>ContactManager</string>
								</array>
								<key>Path</key>
								<string>Managers/ContactManager/ContactManager.swift</string>
							</dict>
							<key>Managers/LocationManager/LocationManager.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>LocationManager</string>
								</array>
								<key>Path</key>
								<string>Managers/LocationManager/LocationManager.swift</string>
							</dict>
							<key>Managers/NetworkManager/Bases/BaseRequest.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>NetworkManager</string>
									<string>Bases</string>
								</array>
								<key>Path</key>
								<string>Managers/NetworkManager/Bases/BaseRequest.swift</string>
							</dict>
							<key>Managers/NetworkManager/Bases/BaseService.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>NetworkManager</string>
									<string>Bases</string>
								</array>
								<key>Path</key>
								<string>Managers/NetworkManager/Bases/BaseService.swift</string>
							</dict>
							<key>Managers/NetworkManager/Bases/Endpoint.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>NetworkManager</string>
									<string>Bases</string>
								</array>
								<key>Path</key>
								<string>Managers/NetworkManager/Bases/Endpoint.swift</string>
							</dict>
							<key>Managers/NetworkManager/Bases/NetworkError.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>NetworkManager</string>
									<string>Bases</string>
								</array>
								<key>Path</key>
								<string>Managers/NetworkManager/Bases/NetworkError.swift</string>
							</dict>
							<key>Managers/NetworkManager/News/NewsRequest.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>NetworkManager</string>
									<string>News</string>
								</array>
								<key>Path</key>
								<string>Managers/NetworkManager/News/NewsRequest.swift</string>
							</dict>
							<key>Managers/NetworkManager/News/NewsService.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>NetworkManager</string>
									<string>News</string>
								</array>
								<key>Path</key>
								<string>Managers/NetworkManager/News/NewsService.swift</string>
							</dict>
							<key>Managers/PhotoManager/ImagePickerManager.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>PhotoManager</string>
								</array>
								<key>Path</key>
								<string>Managers/PhotoManager/ImagePickerManager.swift</string>
							</dict>
							<key>Managers/UserDefaultManager/UserDefaultManager.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Managers</string>
									<string>UserDefaultManager</string>
								</array>
								<key>Path</key>
								<string>Managers/UserDefaultManager/UserDefaultManager.swift</string>
							</dict>
							<key>Configs/Configs.swift</key>
							<dict>
								<key>Group</key>
								<string>Configs</string>
								<key>Path</key>
								<string>Configs/Configs.swift</string>
							</dict>
							<key>Extensions/PropertyType/Date+Extension.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Extensions</string>
									<string>PropertyType</string>
								</array>
								<key>Path</key>
								<string>Extensions/PropertyType/Date+Extension.swift</string>
							</dict>
							<key>Extensions/PropertyType/String+Extension.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Extensions</string>
									<string>PropertyType</string>
								</array>
								<key>Path</key>
								<string>Extensions/PropertyType/String+Extension.swift</string>
							</dict>
							<key>Extensions/PropertyType/UserDefaults+Extension.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Extensions</string>
									<string>PropertyType</string>
								</array>
								<key>Path</key>
								<string>Extensions/PropertyType/UserDefaults+Extension.swift</string>
							</dict>
							<key>Extensions/SwiftUI/Color+Extension.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Extensions</string>
									<string>SwiftUI</string>
								</array>
								<key>Path</key>
								<string>Extensions/SwiftUI/Color+Extension.swift</string>
							</dict>
							<key>Extensions/SwiftUI/View+Extension.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Extensions</string>
									<string>SwiftUI</string>
								</array>
								<key>Path</key>
								<string>Extensions/SwiftUI/View+Extension.swift</string>
							</dict>
							<key>Utilities/Constants.swift</key>
							<dict>
								<key>Group</key>
								<string>Utilities</string>
								<key>Path</key>
								<string>Utilities/Constants.swift</string>
							</dict>
							<key>Utilities/Keys.swift</key>
							<dict>
								<key>Group</key>
								<string>Utilities</string>
								<key>Path</key>
								<string>Utilities/Keys.swift</string>
							</dict>
							<key>Utilities/Logger.swift</key>
							<dict>
								<key>Group</key>
								<string>Utilities</string>
								<key>Path</key>
								<string>Utilities/Logger.swift</string>
							</dict>
							<key>Utilities/Regex.swift</key>
							<dict>
								<key>Group</key>
								<string>Utilities</string>
								<key>Path</key>
								<string>Utilities/Regex.swift</string>
							</dict>
							<key>Utilities/StringConstants.swift</key>
							<dict>
								<key>Group</key>
								<string>Utilities</string>
								<key>Path</key>
								<string>Utilities/StringConstants.swift</string>
							</dict>
							<key>Models/News/News.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Models</string>
									<string>News</string>
								</array>
								<key>Path</key>
								<string>Models/News/News.swift</string>
							</dict>
							<key>Models/News/Arcticle.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Models</string>
									<string>News</string>
								</array>
								<key>Path</key>
								<string>Models/News/Arcticle.swift</string>
							</dict>
							<key>Models/News/Topic.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Models</string>
									<string>News</string>
								</array>
								<key>Path</key>
								<string>Models/News/Topic.swift</string>
							</dict>
							<key>CustomStyles/Button/CustomButtonStyle.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>CustomStyles</string>
									<string>Button</string>
								</array>
								<key>Path</key>
								<string>CustomStyles/Button/CustomButtonStyle.swift</string>
							</dict>
							<key>CustomStyles/TextField/CustomTextFieldStyle.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>CustomStyles</string>
									<string>TextField</string>
								</array>
								<key>Path</key>
								<string>CustomStyles/TextField/CustomTextFieldStyle.swift</string>
							</dict>
							<key>CommonViews/Alert/AlertView.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>CommonViews</string>
									<string>Alert</string>
								</array>
								<key>Path</key>
								<string>CommonViews/Alert/AlertView.swift</string>
							</dict>
							<key>CommonViews/CacheAsyncImage/CacheAsyncImage.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>CommonViews</string>
									<string>CacheAsyncImage</string>
								</array>
								<key>Path</key>
								<string>CommonViews/CacheAsyncImage/CacheAsyncImage.swift</string>
							</dict>
							<key>CommonViews/Loading/LoadingView.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>CommonViews</string>
									<string>Loading</string>
								</array>
								<key>Path</key>
								<string>CommonViews/Loading/LoadingView.swift</string>
							</dict>
							<key>Features/Bases/BaseViewModel.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Features</string>
									<string>Bases</string>
								</array>
								<key>Path</key>
								<string>Features/Bases/BaseViewModel.swift</string>
							</dict>
							<key>Features/LaunchScreen/LaunchScreenView.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Features</string>
									<string>LaunchScreen</string>
								</array>
								<key>Path</key>
								<string>Features/LaunchScreen/LaunchScreenView.swift</string>
							</dict>
							<key>Features/Login/LoginView.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Features</string>
									<string>Login</string>
								</array>
								<key>Path</key>
								<string>Features/Login/LoginView.swift</string>
							</dict>
							<key>Features/Login/LoginViewModel.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Features</string>
									<string>Login</string>
								</array>
								<key>Path</key>
								<string>Features/Login/LoginViewModel.swift</string>
							</dict>
							<key>Features/Home/HomeView.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Features</string>
									<string>Home</string>
								</array>
								<key>Path</key>
								<string>Features/Home/HomeView.swift</string>
							</dict>
							<key>Features/Home/HomeViewModel.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Features</string>
									<string>Home</string>
								</array>
								<key>Path</key>
								<string>Features/Home/HomeViewModel.swift</string>
							</dict>
							<key>Features/Detail/DetailView.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Features</string>
									<string>Detail</string>
								</array>
								<key>Path</key>
								<string>Features/Detail/DetailView.swift</string>
							</dict>
							<key>Features/Detail/DetailViewModel.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Features</string>
									<string>Detail</string>
								</array>
								<key>Path</key>
								<string>Features/Detail/DetailViewModel.swift</string>
							</dict>
							<key>Features/Detail/DetailItem.swift</key>
							<dict>
								<key>Group</key>
								<array>
									<string>Features</string>
									<string>Detail</string>
								</array>
								<key>Path</key>
								<string>Features/Detail/DetailItem.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>Storyboard</key>
				<dict/>
			</dict>
			<key>Default</key>
			<string>SwiftUI</string>
			<key>Type</key>
			<string>popup</string>
		</dict>
	</array>
	<key>Image</key>
	<dict>
		<key>BundleImageName</key>
		<string>app</string>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.IDEKit</string>
	</dict>
</dict>
</plist>
